@import '_include-media';

* {
    box-sizing: border-box;
}

$p-color: #909090;
$link-color: #5094f2;
$link-color-hover: #5094f2;
$link-decoration: none;
$link-decoration-hover: underline;

@mixin flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

@mixin data-box {
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin data-box-logo {
    position: relative;
    width: 186px;
    height: 186px;
    border-radius: 50%;
}

main {
    min-width: 968px;
    color: $p-color;
    font-family: 'Segoe WP N Light', sans-serif;
    font-weight: 300;
    @include media ('<640px'){
      min-width: 100%;
    }
}

a {
    color: $link-color;
    text-decoration: $link-decoration;
    font-family: 'Segoe WP N', sans-serif;
    font-size: 20.35px;
}

a:hover {
    color: $link-color-hover;
    text-decoration: $link-decoration-hover;
}
// header
header {
    .wrap {
        width: 976px;
        height: 89px;
        margin: auto;
        @include flex-box;
        padding-bottom: 21px;
        @include media ('<996px') {
            width: 100%;
        }
        @include media ('<640') {}
    }
    .logo-box,
    #menu {
        @include flex-box;
        align-items: center;
    }

    .logo {
        position: relative;
        margin-right: 12px;
        margin-left: 4px;
        background: #5094f2;
        border-radius: 50%;
        width: 44px;
        height: 44px;

        @include media ('<996px') {
            margin-left: 30px;
            margin-right: 17px;
            width: 51px;
            height: 51px;
        }
    }

    .logo:before {
        content: '“';
        position: absolute;
        top: 13px;
        left: 15px;
        font-size: 64px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        color: #ffffff;
    }

    h1 {
        font-size: 42.35px;
        font-family: 'Segoe WP Light', sans-serif;
        font-weight: 300;
        color: #000000;
        padding-bottom: 3px;
        letter-spacing: 1px;

        @include media ('<996px') {
            font-size: 49.44px;
        }
        
    }

    a {
        color: #6c6c6c;
        font-size: 20.34px;
        padding: 0 4px 15px 4px;
    }

    li:not(:first-child) {
        margin-left: 35px;

        @include media ('<996px') {
            margin-left: 0;
        }
    }

    a.active,
    a:hover {
        color: #6c6c6c;
        border-bottom: 3px solid #5094f2;
        text-decoration: $link-decoration;
    }

    ul.show {
        background: #131316;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        padding-top: 20px;
    }

    ul.show li {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    ul.show li a {
        color: #6c6c6c;
        font-size: 25px;
        border: none;
    }

    .show+#trigger i {
        background: #ffffff;
    }

    #menu ul.show a:hover,
    #menu ul.show li.active a {
        color: #e5e1b7;
        border: none;
    }

    @include media ('<996px') {
        #menu {
            display: none;
            background: #ffffff
        }

        #trigger {
            background: #5094f2;
            width: 58px;
            height: 44px;
            border-radius: 2px;
            display: inline-block;
            margin: 3px;
            cursor: pointer;
            position: absolute;
            right: 27px;
            top: 27px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 11;
        }
        #trigger i {
            display: block;
            width: 37px;
            height: 6px;
            margin: 3px auto;
            background: #ffffff;
        }
        #menu.show {
            display: block;
        }
        ul.show li.active a {
            color: #f3dd13;
            font-size: 25px;
        }
        #menu a.active,
        #menu a:hover {
            color: #5094f2;
            border: none;
        }
    }
}

// gallery
.gallery {
    margin: auto;
    position: relative;
    color: #ffffff;
    background: url(../images/bg.png) no-repeat;
    max-width: 1250px;
    // height: 490px;
    background-size: contain;
    @include media ('<640px') {
        width: 100%;
        height: 100%;
    }
    &:before {
        content: '';
        position: absolute;
        background: url(../images/bg-bottom.png) repeat-x;
        width: 100%;
        height: 13px;
        bottom: 0;
        left: 0;
        @include media ('<640px'){
          display: none;
        }
    }
}

.owl-nav {
    position: absolute;
    width: 1079px;
    margin: auto auto;
    top: 226px;
    left: 86px;
    @include flex-box;
    @include media ('<640px'){
    display: none;
  }
}
.owl-carousel .owl-nav button.owl-next {
    font-size: 0;
    background: url(../images/arrow-right.png) no-repeat;
    width: 25px;
    height: 63px;
}
.owl-carousel .owl-nav button.owl-prev {
    font-size: 0;
    background: url(../images/arrow-left.png) no-repeat;
    width: 25px;
    height: 63px;
}
.item {
    width: 1018px;
    @include media ('<640px'){
          width: 100%;
        }
    img {
        margin: 49px 0; //удалить это свойство
        max-width: 300px;
        // width: 100%;
        // height: 100%;
        position: relative;
        top: -10px; //top: calc( 50% - 245px);
        left: 177px;
    }
}
.box-content {
    position: absolute;
    right: 233px;
    bottom: 189px;
    h2 {
        font-family: 'Segoe WP Light', sans-serif;
        font-weight: 300;
        font-size: 42.35px;
        line-height: 44.42px;
        margin-bottom: 38px;
    }
    span.part-text {
        display: block;
        font-size: 25.36px;
        margin-top: 3px;
        letter-spacing: 0.3px;
    }
    span.bnt {
        margin-left: 11px;
    }
    span.bnt a {
        background: #5094f2;
        padding: 5px 12px 5px 44px;
        border-radius: 2px;
        width: 100%;
        color: #ffffff;
        font-family: 'Segoe WP Light';
        font-weight: 300;
        font-size: 22.35px;
        // padding-left: 44px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            background: url("../images/tick.svg") no-repeat;
            width: 25px;
            height: 24px;
            top: 9px;
            left: 13px;
        }
    }
}
// wrapper
.wrapper-box {
    width: 976px;
    @include media ('<640px'){
      width: 100%;
    }
    margin: auto;
    margin-top: 58px;
    margin-bottom: 78px;
    @include flex-box;
    align-items: center;
    @include media ('<640px'){
      @include data-box;
      width: 100%;
    }
    a {
        margin-top: 23px;
        @include media ('<640px'){
          font-size: 34.13px;
        }
    }
    p {
        margin-top: 10px;
        font-size: 14.35px;
        line-height: 16px;
        font-family: 'Segoe WP N', sans-serif;
        @include media ('<640px'){
          font-size: 19.35px;
          line-height: 23px;
          width: 100%;
        }
    }
    span {
        display: block;
        text-align: center;
        @include media ('<640px'){
          display: inline-block;
        }
    }
}

.box-blue {
    @include data-box;
    margin-left: 6px;
    a {
        margin-right: 10px;
    }
    @include media ('<640px'){
      display: flex;
      flex-direction: row;
      width: 100%;
      border-bottom: 1px solid #cccccc;
    }
}
.box-logo-blue {
    @include data-box-logo;
    background-color: #5094f2;
    @include media ('<640px'){
      width: 140px;
      height: 140px;
      margin-top: 19px;
      margin-bottom: 32px;
    }
    &:after {
        content: '';
        background: url("../images/logo-blue.svg") no-repeat;
        position: absolute;
        width: 78px;
        height: 108px;
        top: calc(50% - 56px);
        left: calc(50% - 36px);
        @include media ('<640px'){
        background: url("../images/logo-blue-resp.svg") no-repeat;
        width: 56px;
        height: 79px;
    }
    }
}
.box-red {
    @include data-box;
    @include media ('<640px'){
      display: flex;
      flex-direction: row;
      width: 100%;
      border-bottom: 1px solid #cccccc;
    }
}
.box-logo-red {
    @include data-box-logo;
    background-color: #d94748;
    @include media ('<640px'){
      width: 140px;
      height: 140px;
      margin-top: 19px;
      margin-bottom: 32px;
    }

    &:after {
        content: '';
        background: url("../images/logo-red.svg") no-repeat;
        position: absolute;
        width: 95px;
        height: 81px;
        top: calc(50% - 40.05px);
        left: calc(50% - 47.5px);
        @include media ('<640px'){
        background: url("../images/logo-red-resp.svg") no-repeat;
        width: 70px;
        height: 60px;
      }
    }
}

.box-yellow {
    @include data-box;
    @include media ('<640px'){
      display: flex;
      flex-direction: row;
      width: 100%;
      border-bottom: 1px solid #cccccc;
    }
}

.box-logo-yellow {
    @include data-box-logo;
    background-color: #ebbb11;
    @include media ('<640px'){
      width: 140px;
      height: 140px;
      margin-top: 19px;
      margin-bottom: 32px;
    }

    &:after {
        content: '';
        background: url("../images/logo-yellow.svg") no-repeat;
        position: absolute;
        width: 98px;
        height: 90px;
        top: calc(50% - 46px);
        left: calc(50% - 47px);
        @include media ('<640px'){
        background: url("../images/logo-yellow-resp.svg") no-repeat;
        width: 77px;
        height: 70px;
      }

    }
}

// wrap-content
.content {
    width: 976px;
    margin: auto;
    @include flex-box;
    margin-bottom: 63px;
    @include media ('<640px'){
      width: 100%;
      // margin: auto;
      margin-top: 50px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
}

.basket {
    padding-left: 26px;
    margin-right: 94px;
    padding-bottom: 6px;
    img {max-width: 100%;}
    h2 {
        color: #6f7173;
        font-size: 42.35px;
        margin: 9px 0 39px 6px;
        font-family: 'Segoe WP N';
    }
}

.text {
    margin-right: 43px;
}

.text h3 {
    font-size: 26.35px;
    color: #6f7173;
    margin-bottom: 31px;
    font-family: 'Segoe WP N';
}
.text p{
    font-family: 'Segoe WP N Light';
    letter-spacing: -0.2px;
    font-size: 15.35px;
}

.text p:not(:last-child) {
    margin-bottom: 20px;
    

}

// footer
footer {
    height: 94px;
    border-top: 1px solid #e5e5e5;
    @include media ('<640px'){
      height: 88px;
    }

    p {
        text-align: center;
        margin-top: 31px;
        font-size: 15.35px;
        margin-right: 72px;
    }
}